<div class="page-header">
<h2>Statistiques de {{model.firstname}}</h2>
</div>
<div>
	<h3>Vélos</h3>
	<table id="cycles">
  		<tr>
   			<th>Name</th>
    		<th>Distance</th>		
    		<th>Principal</th>
  		</tr>
  		{{#each model.bikes as |bike|}}
  			 <tr>
    			<td>{{bike.name}}</td>
    			<td>{{bike.distance}}</td>		
    			<td>
    				{{#if bike.primary}} 
    					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    				{{else}} 
    					<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    				{{/if}}
    			</td>
  			</tr>
		{{/each}}
	</table>
</div>
<div>
	<h3>Chaussures</h3>
	<table id="shoes">
  		<tr>
   			<th>Name</th>
    		<th>Distance</th>		
    		<th>Principal</th>
  		</tr>
  		{{#each model.shoes as |shoe|}}
  			 <tr>
    			<td>{{shoe.name}}</td>
    			<td>{{shoe.distance}}</td>		
    			<td>
    				{{#if shoe.primary}} 
    					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    				{{else}} 
    					<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    				{{/if}}
    			</td>
  			</tr>
		{{/each}}
	</table>
</div>
	